@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #eaeaea;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 22px;
  margin: 0;
  color: #ffffff;
    text-align: center;
}


.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

Section {
  background: #eaeaea;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}


h1 {
  font-family: "Helvetica", serif;
  font-size: 32px;
color: dimgray;
    
}

header {
    background: #eaeaea;
    width: 100%;
   
    }

header::after{
    content: "";
    display:table;
    clear: both;
    }

.container{
    width: 100%;
    margin: 0 auto;
    }

nav {
    float: center;
    top: 0;
    left 0;
    right: 0;
    }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    }
    
nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    position: relative;
    }

nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    }

nav a:hover{
   color: darkgray; 
    }
    
nav a:before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
    }

nav a:hover::before{
    width: 100%;
    }

.column {
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: inline-block;

    padding: 20px;
    }

a {
    text-decoration: none;
    outline: none;
}

img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;

}
.img:hover {
    box-shadow: 0 5px #666;
}
.img:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
    