@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #eaeaea;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 22px;
  margin: 0;
  color: grey;
    text-align: center;
}

section {
    text-align: center;
    padding: 0px;
}


.main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    line-height: 25px;
    position: relative;
}

div {
    font-family: "Helvetica", serif;
    font-size: 16px;
    color: dimgray;  
    text-align: justify;
}

header {
    background: #eaeaea;
    width: 100%;
    text-align: right;
   
    }

header::after{
    content: "";
    display:table;
    clear: both;
    }

.container{
    width: 100%;
    margin: 0 auto;
    }

nav {
    float: center;
    top: 0;
    left 0;
    right: 0;
    }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    }
    
nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    
    position: relative;
    }

nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    }

nav a:hover{
   color: darkgray; 
    }
    
nav a:before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
    }

nav a:hover::before{
    width: 100%;
    }

.ss {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
}
    
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 50px;
    margin-top: 30px;
    
}

td, {
    text-align: left;
    vertical-align: top;
    padding: 50px;
    color: black;
}


@media screen and (max-width: 2000px) {
  .col-1 {
    display: block;
    text-align: center;

  }
  .col-2 {
    display: block;
    text-align: justify;
  }
    img {
        max-width: 100%
    }
}

h1 {
    text-align: center;
}

h2 {
    font-size: 11;
    text-align: left;
    
    
}


